[flake8]

exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # Don't check compiled code
    *.pyc,

count = True
hang-closing = False
show-source = True
statistics = True
output-file = latest_commit_flake8_output.txt
tee = True
#max-complexity = 10
max-line-length = 100
ignore =
    # Line breaks after binary operators are the only clean looking way to write statements with many such operators
    W504
